body{
	font-family: 微軟正黑體;
	background-color: white;
	text-align: center;
}

.dialog{
	border: 5px solid #80aaff;
	border-radius: 5px;
	width: 500px;
	height: 590px;
	margin: 15px 0 0 0;
	margin: auto;
	position:relative;
}

.name_container{
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	background-color: #80aaff;
	border-bottom: 1px solid grey;
	padding: 15px;
	font-size: 18px;
}

.message_container{
	height: 410px;
	padding: 10px;
	text-align: left;
	overflow: auto;
}

.message{
	background: #4080FF;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	padding: 10px;
	margin-left:200px ;
}

.message2{
	background: hsl(0, 100%, 80%);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	padding: 10px;
	margin-right:200px ;
	position: relative;
}

.message3{
	background: hsl(0, 100%, 80%);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	padding: 10px;
	margin-right:100px ;
	position: relative;
}

.send_container{
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	background-color: #80aaff;
	border-top: 1px solid grey;
	padding: 5px;
	font-size: 18px;
	position: absolute;
	bottom: 0px;
	text-align: left;
}
.send_container .one{
	width: 10%;
	float: left;
}
.send_container .two{
	width: 80%;
	float: left;
}
.send_container .three{
	width: 10%;
	float: left;
}

.bar{
	margin: 0 8px;
}

.bar_choice{
	box-sizing: border-box;
	width: 40%;
	margin-left: 10px;
	text-align: center;
	font-size: 18px;
	position: absolute;
	bottom: 45px;
	border: 2px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
	display: none;
}

.choice{
	box-sizing: border-box;
	width: 40%;
	margin-left: 10px;
	text-align: center;
	font-size: 18px;
	border: 2px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
}

input[type=text]{
	width: 90%;
	overflow: auto; 
}

input[type=submit]{
	width: 100%;
	border: none;
	margin: 0px;
	cursor: pointer;
	background: #eee;
	color: grey;
	padding: 8px 0;
}
input[type=submit]:hover{
	background: #ccc;
}

button{
	background: none;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 18px;
	opacity: 0.8;
}
button:hover{
	opacity: 1;
}

.send{
	position: absolute;
	right: 20px;
	margin-top: 3px;
}
