{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/dialog.css' %}">
	<title>安安聊天室</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>


<body>

    <form action=/dialog/{{pk}}/ method="POST" name="form1">
    {% csrf_token %}
    	<div class="name_container">
    		{{name}}
    	</div>
    	<p>{{ current_time }}</p>

    	<div class="message_container" id="message">
        	{% for i in member %}
	        	{% if i.who == False %}
	        	<p class="message2">安安：{{i.content}}({{i.time}}</p>
	        	{% else %}
	        	<p class="message">{{i.member.name}}:{{i.content}}({{i.time}})</p>
	        	{% endif %}
        	{% endfor %}

  		</div>

  		<div class="send_container">
  			<input type="text" name="data"/>
  			<button type="submit" class="send">
  				<i type="submit" class="fas fa-paper-plane"></i>
  			</button>
  		</div>

		<script type="text/javascript">
			var div = document.getElementById('message');
			div.scrollTop = div.scrollHeight - div.clientHeight;
		</script>


      	<!--
	      	<div style="top:425px;left:400px;position:absolute;">{{name}}: <input type="text" name="data"/></div>
	      	<input style="top:425px;left:730px;position:absolute;" type="submit" value="傳送" />
      	-->
    </form>



</body>
</html>
