<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			body{
				background-color: linen;
				text-align: center;
				font-family: 微軟正黑體;
			}

			input{
				margin: 5px;
			}

			.title{
				padding: 10px;
				color: grey;
				background-color: #F4CFD7
			}

			.content{
				color: white;
				background-color: #8097C6
			}
		</style>

		<meta charset="utf-8">
		<title>
			try
		</title>

	</head>

	<body>
		<div class="title">
			<h1>登入頁面</h1>
		</div>
		
		<div class="content">
			<form action = "/try/" method="POST" >

			<fieldset><br>
			
			Email：<input id ="text" name="text" type="text" required><br>
			
			
			<input type="submit" value="點我登入">
			</fieldset>
			</form>
		</div><br>

			
			<t1>{{ status }}</t1>
			
			<t1>{{ r }}</t1>
	
	</body>
</html>
