<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<!DOCTYPE html>
<html>
<center>
<head>
	<title>修改關鍵字</title>
</head>

<body>
	<script type="text/javascript">
		function f(){
			alert("修改成功");
		}
	</script>
	{% for keyword in update %}
	<form method="post" action="">
		<div>
			關鍵字:<input type="text" class="input" name="keyword" value="{{ keyword.key}}">
		</div>
		<div>
			回覆:<input type="text" class="input" name="response" value="{{ keyword.response }}">
		</div>
	    <div class="input-group">
			<label>型態</label>
			<select name="response_type">
				<option value="{{ keyword.response_type }}">目前型態為：{{ keyword.response_type }}</option>
				<option value=1>1 文字</option>
				<option value=2>2 選項</option>
	          	<option value=3>3 圖片</option>
			</select>
	    </div>
		<div id = "buttonSection">
			<input class = "button" type="submit" name="update" onClick="f()" value="修改">
			<input class = "button" type="button" value="取消" onClick="location.href='/key/'">
		</div>
	</form>
	{% endfor %}
</body>
</center>
</html>


